
body {
 font-family:Itim;
 background-color: #EBE5D7;
}

#logo{

 transform: translate(0%,35%);
 width:225px;
}


.center{
 position:absolute;
 top:50%;
 left:50%;
 transform: translate(-50%,-20%);
 width: 650px;
 background:#335E27;
 border-radius: 71px;
}

.center h1{
 text-align: center;
 font-size: 50px;
 color: #FFFFFF;
}

.center form{
 box-sizing:border-box;
}

form .info{
 position:relative; 
}

.info input{
 width: 50%;
   padding: 12px 15px;
 margin:10px;
   box-sizing: border-box;
}

.forgot{
 width: 60%;
 margin:  0px;
 right: 0px;
 font-size:15px;
 cursor:pointer;
}

.forgot a{

 color:#d4d4d4;
 text-decoration:none;
}

.forgot a:hover{
    color: #60ff75;
 text-decoration:underline;
}

input[type=submit] {
   width: 20%;
   padding: 8px 15px;
   margin-top:2px;
 margin-bottom:5px;
   box-sizing: border-box;
   border-radius:15px;
   background-color: #7CBA4B;
 font-family: Itim;
 font-size:18px;
 font-style: normal;
 font-weight: normal;
 color:#FFFFFF;
 cursor:pointer;
}

.sign{
 margin-bottom: 20px;
 font-size:18px;
 color: white;
 cursor:default;
}

.sign a{
 color:#FFFFFF;
 margin-left:10px;
 font-weight:bold;
 font-size:18px;
 cursor:pointer;
 text-decoration:none;
}

.sign a:hover{
 text-decoration:underline;
}

@media only screen and (max-width: 600px) {
 #logo{
  transform: translateY(90%);
  width:120px;
 }
 .center{
 position:absolute;
 top:50%;
 left:50%;
 transform: translate(-50%,-20%);
 width: 370px;
 border-radius: 50px;
 }
 .center h1{
 font-size: 25px;
}

.forgot{
  margin-left: 15px;
  font-size:15px;
 }

.info input{
 width: 75%;
}

.sign{
    color: white;
 margin-bottom: 20px;
 font-size:18px;
}
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
 #logo{
  transform: translateY(50%);
  width:180px;
 }
 .center{
 position:absolute;
 top:50%;
 left:50%;
 transform: translate(-50%,-20%);
 width: 450px;
 border-radius: 50px;
 }
 
 .forgot{
 
 font-size:15px;
 cursor:pointer;
}
 .center h1{
 font-size: 25px;
}

.info input{
 width: 75%;
 
}

.sign{
 margin: 15px;
 font-size:18px;
}
}

