body {
  margin: 0px;
  padding: 0px;
	font-family:Itim;
	background-color: #EBE5D7;
}

* { box-sizing: border-box; }

nav{
    width: 100%;
    box-shadow: 2px 2px 30px rgb(36, 36, 36);
    z-index: 100;
}

.right { text-align: center; display: flex; justify-content: center; }
.right a{
  margin: 0px 10px;
  padding: 10px 20px;
  font-size: 1.1rem;;
  font-style: normal;
  font-weight: bold;
  cursor:pointer;
  color: #ffffff;
  text-decoration: none;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.right a:hover{ font-size: 1.3rem;  transition:all ease 0.3s; }

#logo{
	position: relative;
  width: 90%;
	max-width:200px;
}
.top{
	position:relative;
	width:100%;
	Background:#1D3D14;
	height: 90px;
}

.log{
  background-color: #388697;
  border: 1px solid white;
  padding: 1px 20px;
  border-radius: 50px 50px;
  margin-top: 3%;
  margin-bottom: 3%;
}

/*.reg{
  background-color: #FA8334;
  border: 1px solid white;
  padding: 2px 10px;
  border-radius: 50px 50px;
  margin-top: 3%;
  margin-bottom: 3%;
}*/

.navi {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px;
  height: 90px;
}

/* menu */
ul.menu { padding: 0px; }
.menu { display: flex; justify-content: space-evenly; width: 500px; }
.menu li {
	position: relative;
	display: flex;
	text-transform:uppercase;
	align-items: center;
	font-size:20px;
}
.menu li:hover { font-size:21px; }
.menu a {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding-left: 0px;
	color:#FFF;
	text-decoration:none;
}
.menu a:hover { color: #e7b975; }

/* icon */
#iconc { width: 20%; }
#iconcn {  width: 40%; }
#iconp { width: 20%; }

/* rmenu */
.rmenu img { margin-right: 20px; }
.rmenu a { text-decoration: none; }
.num{
    position: absolute;
    top: 10px;
    right: 105px;
    width: 25px;
    height: 25px;
    font-size: 1rem;
    border-radius: 50%;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-decoration: none;
}

/* cart items */
.numn{
  position: absolute;
  top: 10px;
  right: 35px;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  border-radius: 50%;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-decoration: none;
}
/* cart + rmenu hover */
.rmenu a img:hover, .num:hover, .numn:hover {
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.mySlides { display: inline-flexbox }
img { vertical-align: middle; }

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next { right: 0; border-radius: 3px 0 0 3px; }
  .prev { left: 0; border-radius: 3px 0 0 3px; }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover { background-color: rgba(0,0,0,0.8); }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* slide bar */
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1D3D14;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover { color: #1D3D14; }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 /* open button */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color:#1D3D14;
    vertical-align: middle;
    border: none;
  }
  .openbtn:hover { background-color: #183310; border-radius: 10px; }
 
/* product style */  
#main { transition: margin-left .5s; padding: 0px; }
.bg { background-color: #ffffff; margin:1% 5%; }
.col-2 { float: left; margin-left: 2%; }

.bgde{ 
  align-items: center;
  background-color: #EBE5D7;
  padding: 3%;
  margin-bottom: 30%;
}

.single-prod { margin-left: 2%; margin-right: 2%; }

/* Position the image container (needed to position the left and right arrows) */
.cont { position: relative; }

/* Hide the images by default */
.mySlidede {
  display: none;
  height: 640px;
  width: 510px;
  margin: auto;
}
.mySlidede img{ height: 100%; }


/* Add a pointer when hovering over the thumbnail images */
.cur {
  cursor: pointer;
}

/* Next & previous buttons */
.pre,
.nex {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 15px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 40%;
  background-color: #C4C4C4;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nex {
  right: 0;
  border-radius: 40%;
}

/* On hover, add a black background color with a little bit see-through */
.pre:hover,
.nex:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  background-color: rgb(36, 36, 36);
  border-radius: 15px;
  right: 0;
  bottom: 20%;
}

.imgl{
  height: 130px;
  margin-top: 20%;
}

.proleft{
  color: red;
}

.ro:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.colum {
  display: table-cell;
  float: left;
  width: 16.66%;
}

.light{
  font-weight: lighter;
  margin-left: 8%;
}

#bas{
  background-color: #49a800;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: lighter;
  font-family: itim;
}

#bas:hover{
  background-color: #74da26;
}

#quantity{
  padding: 5px;
  font-size: 16px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: -10%;
}

.addcart {
  position: relative;
  margin-left: 50%;
  width: 218px;
  height: 48px;
  transform: translateY(-200%);
}

.overlay-no {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #388697;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.addcart:hover .overlay-no {
  height: 100%;
}


.textno {
  color: white;
  font-size: 20px;
  position: absolute;
  text-decoration:none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.review{
  position: relative;
}

.review h2{
	margin-bottom: 0;
  text-align: center;
}

.reviewbox{
  margin-left: 5%;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.rowre:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 24%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 48%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 36%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 0%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 36%; height: 18px; background-color: #f44336;}

.comment{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2em;
}

.namere{
  margin-left: 2%;
}

.st-right{
  margin-left: 2%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 3%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #888;
  width: 85%;
}

#myBtn{
  background-color: #7CBA4B;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: lighter;
  font-family: itim;
}

/* The Close Button */
.closemd {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closemd:hover,
.closemd:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.allre{
  margin-top: 3%;
  margin-left: 2%;
  font-size: 1.2em;
  margin-right: 2%;
}

.peocom{
  width: 5%;
}

.rec h2{
	padding-top: 20px;
	margin-bottom: 0;
  text-align: center;
}

.product{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  padding-bottom: 5%;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FA8334;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.n:hover{
  background-color: #7CBA4B;
}
.cart:hover .overlay {
  border-radius: 50px 50px;
  height: 100%;
}

.n:hover{
  background-color: #7CBA4B;
}
.cart:hover {
  cursor: pointer;
  background-color: #7CBA4B;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  text-decoration:none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.pbox{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1%;
	margin-bottom: 1%;
	max-width: 250px;
	max-height: 500px;
}

.pimg{
	width: 250px;
	height: 258px;
	margin-top: 20px;
	cursor: pointer;
	position: relative;
}

.pimg:hover .overlay-fade,
.pde:hover .overlay-fade{
  opacity: 1;
}

.pimg img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.pde{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 550px;
	padding: 10px 10px;
	background-color: white;

}

.pname{
	color: rgb(43, 43, 43);
	text-decoration:none;
  text-align: center;
}

.pprice{
	color: #7CBA4B;
	font-size: 1.2rem;
	font-weight: 400;
}

.pde a{
  text-decoration: none;
  text-align: center;
}

.overlay-up {
  position: absolute; 
  bottom: 0; 
  background: rgba(56, 134, 151,0.8); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

.text-up{
    color: black;
    background-color: white;
    width: 40%;
    padding: 8px 5px;
    border-radius: 50px 50px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.pimg:hover .overlay-up {
  opacity: 1;
}

.pbox:hover{
  box-shadow: 2px 2px 25px rgb(65, 65, 65);
  transition: all ease 0.8s;
}

.cart{
	position: relative;
	left: 0px;
	width: 200px;
	height: 50px;
	border-radius: 50px 50px;
	display: flex;
  opacity: 0;
	justify-content: center;
	align-items: center;
	background-color:  #1D3D14;
	box-shadow: 2px 2px 25px rgb(43, 43, 43);
  font-size: 16px;
  color: #ffffff;
  margin-top: 6%;
  margin-bottom: 6%;
	animation: fade 0.3s;
}

#basket{
	width: 20%;
  margin-left: 0%;
  margin-right: 2%;
}

.pbox:hover .cart{
  opacity: 1;
	transition: all ease 0.5s;
}

.pro{
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 2em;
}

.fa-star{
  color: rgb(65, 65, 65);
}

.checked{
  color: #FA8334;
}

.search h3{
	margin-bottom: -3%;
	margin-top: 5%;
	margin-left: 10%;
}

.content{
	top: 0;
	right: 0;
	width: 100%;
	background-color: #FFFFFF;
	
}

.find{
	position: relative;
	transform: translateY(-15%);
	width: 18px;
	margin-left: 10px;
	margin-top: 0px;
}

.input [type="search"]{
	width: 75%;
  padding: 10px 15px;
	margin-left: 25px;
	border: 1px solid #1D3D14;
	border-radius: 60px;
	font-size: 14px;
	transition: width .6s ease-in-out;
    transition: margin-left .6s ease-in-out;
}

.input [type="search"]:focus{
	width: 90%;
    margin-left: 10px;
}

.cat h3{
  min-width: max-content;
	margin-bottom: -3%;
	margin-top: 5%;
	margin-left: 10%;
}

.cat li{
  min-width: max-content;
	font-weight: lighter;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left:2%;
}

.cat h5{
  min-width: max-content;
  font-size: 20px;
	margin-bottom: 1%;
	margin-top: 5%;
  color: black;
	margin-left: -10%;
}
.cat a{
  font-size: 18px;
	color: black;
	text-decoration:none;
}

.cat h5 a:hover{
  color: black;
  background-color: #FA8334;
}

.cat li a:hover{
	color: white;
  background-color: #2e6f7e;
}

/* nnarct part */
.button{
  font: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;  
}
.btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  width: 100px;
  margin: 0px 10px;
  border-radius: 10rem;
  border: 2px solid #EBE5D7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 33px;
}

.register{
  color: #1D3D14;
  background-color: #EBE5D7;
}
.register:hover{
  font-size: 19px;
  background-color: rgb(255, 255, 255);
}
.login{
  color: white;
}
.login:hover{
  font-size: 20px;
  border: 3px solid #EBE5D7;
  color: #1D3D14;
  background-color: #ffffff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1043px) {
  #logo { 
    display: none;
  }
}