*{ padding: 0px; margin: 0px; }

body { font-family: Itim; background-color: #EBE5D7; }
.container{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    width: 80%; min-width: 400px;
    max-width: 500px;
    min-height: 377pxx;
}
.logo { width:40%; max-width: 120px; min-width: 40px; }
.content { display: flex; flex-direction: column; justify-content: space-between;
    background-color: white; border-radius: 10px; box-shadow: 5px 3px 3px 0.5px rgb(197, 197, 197);
    padding: 5%; min-width: fit-content; }
.topic { font-weight: normal; min-width: 250px; }
.separateline { border-bottom: 1px solid gray; height: 10px; margin-bottom: 10px; }
.navigationline { min-width: fit-content; padding-bottom: 10px; font-size: 1.2em; }
/*#EBE5D7*/

#goto { text-align: center; }
input { width: 90%; min-width: max-content; max-width: 480px; padding: 0.5rem; font-size: 1rem; font-family: Itim; border-radius: 10px; border: 1px solid gray;  }
button { text-decoration: none; padding: 5px 10px; cursor: pointer;  }
a { text-decoration: none; }

.buttonContainer{
    font-family: Itim;
    height: 20%;
    margin-top: 15px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttonBox{
    font-family: Itim;
    cursor: pointer; 
    padding: 5px 7px;
    min-width: fit-content;
}

.CancleButtonStyle{
    font-family: Itim; min-width: fit-content;
    width: 80px; padding: 3% 6%; background-color: white; border-color: #7CBA4B;
    border-radius: 100px; color: #7CBA4B; font-size: 1.2rem;
}

.ConfirmButtonStyle{  
    font-family: Itim; min-width: fit-content;
    width:80px; padding: 3% 6%; background-color: #7CBA4B; border-color: #7CBA4B;
    border-radius: 100px; font-display: #fff; font-size: 1.2rem;
}
.goto{ display: none; }
.external{
    height: max-content ;
    width: fit-content;
    padding: 1% 0px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center   ;
}
.extIMG{ height: 27px; padding: 0px 22px; }

@media screen and ( max-width: 635px) {
    .external { width: 100%; flex-direction: column; justify-content: center; }
    .extIMG { padding-top: 7px; height: 32px; }
}