body {
    font-family: Tahoma;
    background-color: #EBE5D7;
    
}
#logo{
    width: 20%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.info_area{
    position: absolute;
    left: 10%;
    right: 10%;
    
    border-radius: 10px;
    background:#335E27;
    color: #FFFFFF;
}
#header{

    margin: 3%;
    margin-bottom: 1%;
    width: 10rem;
    color: #EBE5D7;
}

.input{
    font-size: 100%;
    width: 100%;
   
}

#inputBox{
font-size: 100% ;
   width: 99%;
   height: 10%;
  /*  margin-right:  20%;*/
  margin-top: 1%;
    margin-bottom: 1%;
}
#inputAddressBox{
    font-size: 100% ;
    width:  99%;
    height: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
    
}



input[type=submit] {
    width: 120px;
    padding: 8px 15px;
    margin-top:3.5px;
    margin-bottom:3.5px;
    height: 46px;
    box-sizing: border-box;
    border-radius:15px;
    background-color: #65993c;
    font-family: Roboto;
    font-size:18px;
    font-style: normal;
    font-weight: normal;
    color:#FFFFFF;
    box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.25);
    cursor:pointer;
}

input[type=submit]:hover{
    background-color: #bedda6;
    color: black;
}

.haveAccount{
    width: 100%;
    
    height: fit-content;
}

#question{
    width: 100%;
    margin: 2% 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linklogin{
    color: white;
    text-decoration: none;
    margin: 0px 0px 0px 25px;
}
#linklogin:hover{
    color: #60ff75;
}

#regbutton{
    width: 100%;
    margin: 1% 0px;
    
}

#regbutton:hover{
   
}